In [1]:
import os
import sys

import numpy as np
import pandas as pd

In [13]:
df=pd.read_csv('Data/original_data.csv')
df.columns=[col.replace(' ', '').replace('#','').replace('$','') for col in df.columns]
df.head(3)

,Date,CampaignID,CampaignGoalCode,CampaignAdID,AdDigitalChannel,Adchannelpartner,AdDevice,AdGroup,AdContentID,AdContentType,...,Spend,Impressions,Clicks,VideoCompletes,SocialLikes,SocialShares,WebVisit,CollateralView,ProductView,FormComplete
0,9/29/22,4,Engagement,267,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,53,38331,35000,0,0,0,0,0,0,0
1,9/29/22,4,Engagement,299,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,120,36434,32500,0,0,0,0,0,0,0
2,9/29/22,4,Engagement,270,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,47,24374,20000,0,0,0,0,0,0,0

## Data preprocessing

In [14]:
df['Date']=pd.to_datetime(df['Date'])

In [15]:
# Null check
for a,b in enumerate(df.isna().sum()):
    if b != 0:
        print('{} column has {} number of null data'.format(df.columns[a],b))

AdDevice column has 257918 number of null data
AdGroup column has 257918 number of null data
AdContentID column has 143989 number of null data
AdContentType column has 97 number of null data

In [16]:
df=df.dropna(subset=['AdContentType'])

In [17]:
duplicate_rows = df.duplicated()
num_dup_rows = sum(duplicate_rows)
print("There are {} duplicate rows in the DataFrame.".format(num_dup_rows))

There are 39128 duplicate rows in the DataFrame.

In [18]:
df = df.drop_duplicates()
print("The DataFrame now has shape {}.".format(df.shape))

The DataFrame now has shape (339914, 21).

In [19]:
# Label CTR 
ctr=list()
clicks=df['Clicks'].tolist()
impression=df['Impressions'].tolist()

for i in range(len(clicks)):
    if impression[i]==0:
        ctr.append(0)
    else:
        ctr.append(clicks[i]/impression[i])
df['CTR']=ctr
# round CTR
df['CTR']=df['CTR'].apply(lambda x : round(x))

In [20]:
df.head()

,Date,CampaignID,CampaignGoalCode,CampaignAdID,AdDigitalChannel,Adchannelpartner,AdDevice,AdGroup,AdContentID,AdContentType,...,Impressions,Clicks,VideoCompletes,SocialLikes,SocialShares,WebVisit,CollateralView,ProductView,FormComplete,CTR
0,2022-09-29,4,Engagement,267,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,38331,35000,0,0,0,0,0,0,0,1
1,2022-09-29,4,Engagement,299,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,36434,32500,0,0,0,0,0,0,0,1
2,2022-09-29,4,Engagement,270,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,24374,20000,0,0,0,0,0,0,0,1
3,2022-09-29,4,Engagement,279,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,33150,17500,0,0,0,1,0,0,0,1
4,2022-09-29,4,Engagement,266,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,18490,17000,0,0,0,0,0,0,0,1

In [21]:
df.to_csv('Data/data_preprocessed.csv',index=False)

### Under from here, all codes are for the tree model, we will use R for logistic regression below codes are useless.

In [10]:
df=pd.get_dummies(df,
                  columns=['CampaignID',
                               'CampaignGoalCode',
                               'AdDigitalChannel',
                               'Adchannelpartner',
                               'AdDevice',
                               'AdContentType',
                               'AudienceType'],
                  drop_first=False)

In [40]:
#we will use ad features as our input data
df.columns[15:].tolist()

['CampaignID_1',
 'CampaignID_2',
 'CampaignID_3',
 'CampaignID_4',
 'CampaignID_5',
 'CampaignGoalCode_Awareness',
 'CampaignGoalCode_Consideration',
 'CampaignGoalCode_Engagement',
 'CampaignGoalCode_Intent to Buy',
 'CampaignGoalCode_Purchase',
 'AdDigitalChannel_Programmatic Display',
 'AdDigitalChannel_Search',
 'AdDigitalChannel_Social',
 'Adchannelpartner_Channel Partner 1',
 'Adchannelpartner_Channel Partner 2',
 'Adchannelpartner_Channel Partner 3',
 'Adchannelpartner_Channel Partner 4',
 'Adchannelpartner_Channel Partner 5',
 'Adchannelpartner_Channel Partner 6',
 'Adchannelpartner_Channel Partner 7',
 'Adchannelpartner_Channel Partner 9',
 'AdDevice_Computers',
 'AdDevice_Mobile',
 'AdDevice_Tablets',
 'AdContentType_Image',
 'AdContentType_Text',
 'AdContentType_Video',
 'AudienceType_Audience Type 1',
 'AudienceType_Audience Type 2',
 'AudienceType_Audience Type 3',
 'AudienceType_Audience Type 4',
 'AudienceType_Audience Type 5']

In [45]:
X=df.iloc[:,15:]

In [46]:
X.shape

(339914, 32)

In [51]:
print('Our Y variable is {}'.format(df.columns[14]))

Our Y variable is CTR

In [52]:
Y=df.iloc[:,14]

In [54]:
import pickle
with open('Data/X_data.pkl','wb')as f:
    pickle.dump(X,f)

In [55]:
with open('Data/Y_data.pkl','wb')as f:
    pickle.dump(Y,f)