In [3]:
import os 
import pandas as pd

In [10]:
class Return_invisible:
    def __init__(self,path,n=int,**kwargs):
        if os.path.exists(path)==False:
            raise Exception('no data in the path.')
        self.df=pd.read_csv(path)      
        
        self.df['conversion']=(self.df['WebVisit']+
                               self.df['CollateralView']+
                               self.df['ProductView']+
                               self.df['FormComplete'])
        self.advance=kwargs['advance']
        if self.advance:
            self.df1=self.df[['Date',
                             'AudienceType',
                             'AdDigitalChannel',
                             'VideoCompletes',
                             'SocialLikes',
                             'SocialShares',
                             'conversion']]
            self.df2=self.df[['Date',
                             'AudienceType',
                             'AdDigitalChannel',
                             'CTR']]

            self.df1=self.df1.groupby(['Date','AudienceType','AdDigitalChannel']).sum()
            self.df1=self.df1.reset_index()
            self.df2=self.df2.groupby(['Date','AudienceType','AdDigitalChannel']).mean()
            self.df2=self.df2.reset_index()
            self.df=pd.concat([self.df1,self.df2['CTR']],axis=1)
            self.df=self.df.loc[:,['Date',
                                   'AudienceType',
                                   'AdDigitalChannel',
                                   'VideoCompletes',
                                   'SocialLikes',
                                   'SocialShares',
                                   'CTR',
                                   'conversion']]

        else:
            self.df1=self.df[['Date',
                             'VideoCompletes',
                             'SocialLikes',
                             'SocialShares',
                             'conversion']]
            self.df2=self.df[['Date',
                             'CTR']]

            self.df1=self.df1.groupby(['Date']).sum()
            self.df1=self.df1.reset_index()
            self.df2=self.df2.groupby(['Date']).mean()
            self.df2=self.df2.reset_index()
            
            self.df=pd.concat([self.df1,self.df2['CTR']],axis=1)

            self.df=self.df.loc[:,['Date',
                                   'VideoCompletes',
                                   'SocialLikes',
                                   'SocialShares',
                                   'CTR',
                                   'conversion']]
        self.n=n
        
        
    def __call__(self):
        print('save the return 2 in the Output folder')
        if self.advance==False:
            self.output=self.ndays(self.df,self.n)
            self.output.to_csv('Output/return2_'+str(self.n)+'days.csv',
                               index=False)
        else:
            self.output=self.panel()
            self.output.to_csv('Output/return2_'+str(self.n)+'_adv_days.csv',
                               index=False)
    
    def panel(self):
        self.comb=self.df[['AudienceType','AdDigitalChannel']].drop_duplicates()
        self.comb=self.comb.reset_index(drop=True)
        
        self.df_li=[]
        for i in range(len(self.comb)):
            new_df=self.df[(self.df['AudienceType']==self.comb['AudienceType'][i])&
                           (self.df['AdDigitalChannel']==self.comb['AdDigitalChannel'][i])]
            x=self.ndays_ad(new_df,self.n)
            self.df_li.append(x)
        return pd.concat(self.df_li,axis=0) 
        
    @staticmethod    
    def ndays(data,n):
        data=data.reset_index(drop=True)
        X=pd.DataFrame(columns=data.columns.tolist()[1:-1])
        Y=data['conversion'][n-1:].reset_index(drop=True)
        leng=len(data)
        for i in range(leng-n+1):
            temp_df=data.iloc[i:i+n,1:-2].sum()
            temp_df['CTR']=data.iloc[i:i+n,-2].mean()
            X=X.append(temp_df, ignore_index=True)
        return pd.concat([X,Y],axis=1)
    
    @staticmethod
    def ndays_ad(data,n):
        data=data.reset_index(drop=True)
        X=pd.DataFrame(columns=data.columns.tolist()[3:-1])
        Y=data['conversion'][n-1:].reset_index(drop=True)
        ID=data[['AudienceType','AdDigitalChannel']][n-1:].reset_index(drop=True)
        leng=len(data)
        for i in range(leng-n+1):
            temp_df=data.iloc[i:i+n,3:-2].sum()
            temp_df['CTR']=data.iloc[i:i+n,-2].mean()
            X=X.append(temp_df, ignore_index=True)
        return pd.concat([X,Y,ID],axis=1)

In [11]:
rv2=Return_invisible('Data/data_preprocessed.csv',30,advance=True)

In [12]:
rv2()

save the return 2 in the Output folder

In [13]:
rv2=Return_invisible('Data/data_preprocessed.csv',30,advance=False)

In [14]:
rv2()

save the return 2 in the Output folder

In [15]:
rv2.output

     VideoCompletes  SocialLikes  SocialShares       CTR  conversion
0          161380.0         24.0           0.0  0.477543         553
1          165930.0         24.0           0.0  0.491689         517
2          164621.0         25.0           0.0  0.473356         491
3          175217.0         26.0           0.0  0.472281         350
4          174634.0         35.0           0.0  0.453637         524
..              ...          ...           ...       ...         ...
200       8486564.0       1921.0          61.0  0.186438         921
201       8391528.0       1912.0          57.0  0.185563        1004
202       8267762.0       1899.0          54.0  0.184426        1276
203       8201856.0       1895.0          59.0  0.184189        1518
204       8127914.0       1893.0          58.0  0.183924        1704

[205 rows x 5 columns]

# tutorial

In [10]:
df=pd.read_csv('Data/data_preprocessed.csv')

In [12]:
df.head()

,Date,CampaignID,CampaignGoalCode,CampaignAdID,AdDigitalChannel,Adchannelpartner,AdDevice,AdGroup,AdContentID,AdContentType,...,Impressions,Clicks,VideoCompletes,SocialLikes,SocialShares,WebVisit,CollateralView,ProductView,FormComplete,CTR
0,2022-09-29,4,Engagement,267,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,38331,35000,0,0,0,0,0,0,0,1
1,2022-09-29,4,Engagement,299,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,36434,32500,0,0,0,0,0,0,0,1
2,2022-09-29,4,Engagement,270,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,24374,20000,0,0,0,0,0,0,0,1
3,2022-09-29,4,Engagement,279,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,33150,17500,0,0,0,1,0,0,0,1
4,2022-09-29,4,Engagement,266,Programmatic Display,Channel Partner 3,NaN,NaN,1.0,Text,...,18490,17000,0,0,0,0,0,0,0,1

In [16]:
conversion=df['WebVisit']+df['CollateralView']+df['ProductView']+df['FormComplete']

In [17]:
df['conversion']=conversion

In [18]:
df=df[['Date','CampaignID','AdDigitalChannel','VideoCompletes','SocialLikes','SocialShares','conversion']]

In [19]:
df.groupby(['Date','CampaignID','AdDigitalChannel']).sum()

                                            VideoCompletes  SocialLikes  \
Date       CampaignID AdDigitalChannel
2022-06-28 4          Programmatic Display               0            0
2022-06-29 4          Programmatic Display            3106            0
2022-06-30 4          Programmatic Display            2108            0
2022-07-01 4          Programmatic Display            5539            0
2022-07-02 4          Programmatic Display            5738            0
...                                                    ...          ...
2023-02-16 4          Search                             0            0
                      Social                           618           10
           5          Programmatic Display            3467            1
                      Search                          3861            0
                      Social                             0            1

                                            SocialShares  conversion
Date       CampaignID AdDigitalChannel
2022-06-28 4          Programmatic Display             0           0
2022-06-29 4          Programmatic Display             0          34
2022-06-30 4          Programmatic Display             0          47
2022-07-01 4          Programmatic Display             0          82
2022-07-02 4          Programmatic Display             0          24
...                                                  ...         ...
2023-02-16 4          Search                           0           5
                      Social                           0          17
           5          Programmatic Display             0          24
                      Search                           0         186
                      Social                           0           0

[2558 rows x 4 columns]

In [20]:
df=df.groupby(['Date','CampaignID','AdDigitalChannel']).sum()
df=df.reset_index()

In [21]:
df.head()

,Date,CampaignID,AdDigitalChannel,VideoCompletes,SocialLikes,SocialShares,conversion
0,2022-06-28,4,Programmatic Display,0,0,0,0
1,2022-06-29,4,Programmatic Display,3106,0,0,34
2,2022-06-30,4,Programmatic Display,2108,0,0,47
3,2022-07-01,4,Programmatic Display,5539,0,0,82
4,2022-07-02,4,Programmatic Display,5738,0,0,24

In [35]:
combination=df[['CampaignID','AdDigitalChannel']].drop_duplicates()

In [22]:
variables=['VideoCompletes','SocialLikes','SocialShares']

In [57]:
def ndays(data,n):
    data=data.reset_index(drop=True)
    X=pd.DataFrame(columns=data.columns.tolist()[3:-1])
    Y=data['conversion'][n-1:].reset_index(drop=True)
    leng=len(data)
    for i in range(leng-n+1):
        temp_df=data.iloc[i:i+n,3:-1].sum()
        X=X.append(temp_df, ignore_index=True)
    return pd.concat([X,Y],axis=1)

In [34]:
ndays(df,5)

     VideoCompletes SocialLikes SocialShares  conversion
0             16491           0            0          24
1             25130           0            0          58
2             22457           0            0           5
3             20818           0            0           2
4             15281           0            0           3
...             ...         ...          ...         ...
2549         197926           8            1           5
2550         195979          17            1          17
2551         190529          16            0          24
2552         194389          11            0         186
2553           7946          12            0           0

[2554 rows x 4 columns]

In [48]:
combination.iloc[0,:]

CampaignID                             4
AdDigitalChannel    Programmatic Display
Name: 0, dtype: object

In [58]:
ndays(df[(df['CampaignID']==4) & (df['AdDigitalChannel']=='Programmatic Display')],5)

    VideoCompletes SocialLikes SocialShares  conversion
0            16491           0            0          24
1            25130           0            0          58
2            22457           0            0           5
3            20818           0            0           2
4            16176           0            0          12
..             ...         ...          ...         ...
225         671368           6            0          65
226         730881           3            0          81
227         715667           3            0         112
228         755029           3            0         178
229         795632           0            0         108

[230 rows x 4 columns]

In [70]:
combination=combination.reset_index(drop=True)

In [71]:
len(combination)

15

In [77]:
def ndays_ad(data,n):
    data=data.reset_index(drop=True)
    X=pd.DataFrame(columns=data.columns.tolist()[3:-1])
    Y=data['conversion'][n-1:].reset_index(drop=True)
    ID=data[['CampaignID','AdDigitalChannel']][n-1:].reset_index(drop=True)
    leng=len(data)
    for i in range(leng-n+1):
        temp_df=data.iloc[i:i+n,3:-1].sum()
        X=X.append(temp_df, ignore_index=True)
    return pd.concat([X,Y,ID],axis=1)

In [80]:
df_li=[]
for i in range(len(combination)):
    new_df=df[(df['CampaignID']==combination['CampaignID'][i]) 
              & 
              (df['AdDigitalChannel']==combination['AdDigitalChannel'][i])]
    x=ndays_ad(new_df,5)
    df_li.append(x)

In [81]:
pd.concat(df_li,axis=0)

,VideoCompletes,SocialLikes,SocialShares,conversion,CampaignID,AdDigitalChannel
0,16491,0,0,24,4,Programmatic Display
1,25130,0,0,58,4,Programmatic Display
2,22457,0,0,5,4,Programmatic Display
3,20818,0,0,2,4,Programmatic Display
4,16176,0,0,12,4,Programmatic Display
...,...,...,...,...,...,...
132,4772,8,0,0,5,Social
133,1,7,0,0,5,Social
134,1,6,0,0,5,Social
135,1,8,0,0,5,Social
136,1,9,0,0,5,Social